/*Containers*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('../Images/Background/images (1).jpg');
    background-attachment: fixed;       
    background-repeat: no-repeat;
    background-size: cover;
}

#page {
    width: 1080px;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
    background-color: #fff;
}

#header {
    height: 350px;
    border: 3px solid #e3e3e3;
    background-image: url(../Images/Banner/Banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#menu {
    height: 45px;
    border: 3px solid #e3e3e3;
    background: linear-gradient(to top, #000099, #33ccff);
    text-align: center;
}

#nav {
    display: block;
    list-style: none;
    text-align: center;
}

    #nav ul {
        list-style: none;
        display: inline;
    }

    #nav li {
        font-size:24px;
        float: left;
        margin-top: 15px;
        display: block;
        text-transform: uppercase;
        padding: 0px 20px 0px 20px;
        border-left: 1px solid #ffffff;
    }


    #nav a:link, #nav a:active, #nav a:visited {
        display: block;
        color: #ffffff;
        text-decoration: none;
    }

    #nav a:hover {
        color:#cc9900;
    }

#content_area {
    
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px;
    
}



#content_area table {
    width: 100%;
 
}


#footer {
    clear: both;
    width: auto;
    height: 40px;
    padding:5px;
    background-color: #000099;
    text-shadow: 0.03cm 0.03cm #333;
    color: #fff;
    text-align: center;
}
